.side-menu a{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-menu .active-link > span {
    color : var(--main2);
    font-family: ns-b;

}
.side-menu .active-link > svg{
    fill: var(--main2);
}